{% extends 'Basica/Base.html' %}
	
	{% block Contenido %}
		<div class="g12">
			<h2>Facturación<span><a href="doc-form.html" class="small">&nbsp&nbsp&nbsp Creación factura electrónica Pedralbes</a></span></h2>	
		</div>
		<div><br /><br /><br /><br />
		<form action="#" method="POST" name="Form" id="Form">
			<fieldset>
				<label>Nueva Factura</label>
				<section>
					<label for="text_field">Datos Cliente</label>
					<div>
						<input type="text" id="Cedula" name="Cedula" class="g3" placeholder="# Identificación"/>
						<button class="reset">Validar Cliente</button>
						<br /><br /><br />
						<span id="Cargar"></span>
						
					</div>
				</section>
				<section>
					<label for="text_field">Producto</label>
					<div>
						<input type="text" id="Referencia" name="Referencia" class="g3" placeholder="# Referencia"/>
						<input type="text" id="Referencia" name="Cantidad" class="g2" placeholder="Cantidad"/>
						<button class="reset">Agregar Producto</button>
						<a class="btn small fr" id="Nuevo_Producto">Explorar productos</a>
					</div>
				</section>
			</fieldset>
			<fieldset>
				<label>Confirmar Factura</label>
					<h3>Nombre Cliente</h3>
					<table class="documentation">
						<thead>
							<tr><th>Referencia</th><th>Categoria</th><th>Cantidad</th><th>Valor/U</th><th>Valor/T</th></tr>
						</thead>
						<tbody>
							<tr>
								<th>#</th>
								<td></td><td></td><td>$</td><td></td>
								<th>x eliminar</th>
								<td>
								<a class="btn small fr" id="Promocion">Promoción</a>
								</td>
							</tr>
							<tr>
								<th><button class="reset">Generar Venta</button></th>
								<th>Sumatorias</th><td></td><td></td><td></td>
							</tr>
						</tbody>
					</table>
			</fieldset>
		</div>		
	{% endblock %}
	
	{% block Script %}
		<script>
			$(document).ready(function() {
				$("#Cedula").change(function() {
					var Cedula = $(this).attr('value');
					$("#Cargar").html(Cedula);
				});
			});
		</script>
	{% endblock %}