{% extends 'Basica/Base.html' %}
	
	{% block Contenido %}
		<div class="g12">
			<h1>Nueva Factura Proveedor</h1>
			<p>
				Ingreso de Nueva Suministrada por el Proveedor
				<a class="btn small fr" href="#" id="BusquedaCodigo" style="display: none;">Busqueda Por Código</a>
				<a class="btn small fr" href="#" id="BusquedaProducto" style="display: block;">Busqueda Por Producto</a>
			</p>
			<form action="#" method="POST" name="Codigo" id="Codigo">
				<fieldset>
					<label>Detalle de Factura Proveedor {{DatosFactura.Numero}}</label>
					<section>
						<label for="text_field">Código</label>
						<div>
							<input type="text" id="Referencia" name="Referencia" class="g3" placeholder="Código de Producto" /> 
							<button class="submit" name="GuardarFactura" value="Guardar">Guardar</button>
						</div>
					</section>
				</fieldset>
			</form>
			
			<form action="#" method="POST" name="Producto" id="Producto" style="display: none;">
				<fieldset>
					<label>Detalle de Factura Proveedor {{DatosFactura.Numero}}</label>
					<section>
						<label for="text_field">Producto</label>
						<div>
							<select name="Categoria" id="Categoria">
								<option value="">Escoja Una Categoria</option>
								{% if ListadoCategoria|length>=1 %}
									{% for Valor in ListadoCategoria %}
										<option value="{{Valor.Categoria}}">{{Valor.Categoria}}</option>
									{% endfor %}
								{% endif %}
							</select>
							
							<select name="SubCategoria" id="SubCategoria">
								<option value="">Escoja Una SubCategoria</option>
							</select>
						</div>
					</section>
				</fieldset>
			</form>
			
			<div id="CargarDatos">Carga de Datos Disponibles</div>
			
		</div>
	{% endblock %}
	
	{% block Script %}
		<style>
			.error {
				font-family: verdana;
				font-weight: bold;
				font-size: 10px;
				color: red;
			}
		</style>
		{{Script|raw}}
		<script>
			$(document).ready(function() {
				$("#BusquedaProducto").click(function() {
					$("#BusquedaProducto").fadeIn("slow", function() {
						$("#BusquedaProducto").css("display", "none");
						$("#BusquedaCodigo").css("display", "block");
						$("#Codigo").css("display", "none");
						$("#Producto").fadeIn("slow", function() {
							$("#Producto").css("display", "block");
						});
					});
				});
			});
		</script>
		<script>
			$(document).ready(function() {
				$("#BusquedaCodigo").click(function() {
					$("#BusquedaCodigo").fadeIn("slow", function() {
						$("#BusquedaCodigo").css("display", "none");
						$("#BusquedaProducto").css("display", "block");
						$("#Producto").css("display", "none");
						$("#Codigo").fadeIn("slow", function() {
							$("#Codigo").css("display", "block");
						});
					})
				});
			});
		</script>
	{% endblock %}