<html>
	<head>
		<title>.:: Listado de Productos ::.</title>
		<script src="{{NeuralRutasApp.RutaJs}}jquery.min.js"></script>
	</head>
	<body>
		{% if Consulta|length>=1 %}
			<table class="documentation">
				<thead>
					<tr>
						<th>Referencia</th>
						<th>Nombre</th>
						<th>Cantidad</th>
						<th>Acción</th>
						<th>Usuario</th>
						<th>Fecha</th>
						<th>Editar</th>
						<th>Eliminar</th>
					</tr>
				</thead>
				<tbody>
					{% for Data in Consulta %}
						<tr id="TR{{Data.Id}}">
							<td>{{Data.Referencia}}</td>
							<td>{{Data.SubCategoria}}</td>
							<td id="RC{{Data.Id}}">{{Data.Cantidad}}</td>
							<td>{{Data.Accion}}</td>
							<td>{{Data.Usuario}}</td>
							<td>{{Data.Fecha}}</td>
							<td>
								<a href="#" class="Editar" data="{{Data.Id}}">
									<img src="{{NeuralRutasApp.RutaImagenes}}editar.png" title="Editar: {{Data.SubCategoria}}" />
								</a>
							</td>
							<td><img src="{{NeuralRutasApp.RutaImagenes}}borrar.png" title="Borrar {{Data.SubCategoria}}" /></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			No Hay Datos Ingresados
		{% endif %}
		
		<script>
			$(document).ready(function() {
				$(".Editar").click(function() {
					var ID = $(this).attr('data');
					var Actualizar = prompt('Nueva Cantidad');
					if(Actualizar) {
						$.ajax({
							url : "{{NeuralRutasApp.RutaURL}}Proveedor/ActualizarRegistroFacturaProveedorNueva",
							type: "POST",
							data: { Id : ID, Cantidad : Actualizar },
							dataType : "html",
							success : function(response) {
								$("#RC" + ID).html(response);
							}
						});
					}
				});
			});
		</script>
	</body>
</html>